# NK_ Classic TKL board configuration

# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_NK_CLASSIC_TKL

config BOARD
    default "nk_classic_tkl"

config ZMK_KEYBOARD_NAME
    default "NK_ Classic TKL"

config ZMK_USB
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_NK_CLASSIC_TKL
